@import "normalize";
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: white;
    color: rgb(49, 49, 49);
}

.container {
    max-width: 1280px;
    width: 95%;
    margin: 0px auto;
}