@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: white;
    color: rgb(49, 49, 49);
    margin: 0px; padding: 0px;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 95%;
    margin: 0px auto;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    height: 100vh;
    justify-content: space-between;
    align-items: center;
}