---
---

@import 'theme';

main#landing-page {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-top: 2em;

    .profile-image {
        width: 50%;
        position: relative;

        img {
            display: block;
            width: 100%;
            max-width: 25em;
            height: auto;
            margin: 0px auto;
        }
    }

    .contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        gap: 0.5em;

        .project-name, .project-tagline {
            text-align: center;
        }

        .project-tagline {
            font-weight: 400;
        }

        .nav-links {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            flex-wrap: wrap;
            a{
                font-size: 0.85em;
                color: gray;
                border: 1px groove gray;
                padding: 0.5em;
                border-radius: 1em;
            }
        }
    }

    @include large {
        margin-top: 22vh;

        .contents {
            align-items: flex-start;

            .project-tagline {
                text-align: left;
            }
        }
    }

    @include medium {
        flex-direction: column;

        .profile-image, .contents {
            width: 100%;
        }
    }

    @include small {
        flex-direction: column;
         .profile-image, .contents {
            width: 100%;
        }
    }
}

footer {
    padding:1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 100%;

    .footer-links{
        display: flex;
        gap: 0.8em;
        flex-wrap: wrap;
        span {
            display: block;
            width: 1em;
        }
        
        img {
            width: 1.5em;
        }
    }

    .credits {
        font-style: italic;
        font-weight: 300;
        font-size: 0.7em;
    }

    // a {
    //     color: gray;
    // }
}