<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"  href="{{ '/assets/css/style.css' | relative_url }}">
    {% include head-custom.html %}
    <script src="https://kit.fontawesome.com/c9c476b721.js" crossorigin="anonymous"></script>
</head>

<body>
   <div class="container">
    <main id="landing-page">
        <div class="profile-image">
            <img src="/assets/imgs/profile-pic.png" />
        </div>
        <div class="contents">
            <div>
                <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
            </div>
            <div>
                <p class="project-tagline">{{ page.description | default: site.description | default:
                    site.github.project_tagline }}</h2>
            </div>
            <div class="nav-links">
                <a href="#">/About </a>
                <a href="#">/Publications </a>
                <a href="#">/Contact</a>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-links">
            <span><a href="mailto:santosh.purjapun@outlook.com"><img src="/assets/imgs/icons/envelope-regular-full.svg" /></a></span>
            <span><a href= "{{ site.socials.twitter }}" target="_blank" rel="noopener"><img src="/assets/imgs/icons/x-twitter-brands-solid-full.svg" /></a></span>
            <span><a href="{{ site.socials.linkedin }}" target="_blank" rel="noopener"><img src="/assets/imgs/icons/linkedin-brands-solid-full.svg" /></a></span>
            <span><a href="{{ site.socials.github }}" target="_blank" rel="noopener"><img src="/assets/imgs/icons/github-brands-solid-full.svg" /></a></span>
            <span><a href="{{ site.socials.orcid }}" target="_blank" rel="noopener"><img src="/assets/imgs/icons/orcid-brands-solid-full.svg" /></a></span>
            <span><a href="{{ site.socials.scholar }}" target="_blank" rel="noopener"><img src="/assets/imgs/icons/google-scholar-brands-solid-full.svg" /></a></span>
        </div>
        <div class="credits">
            Santosh Purja Pun | 2026
        </div>
    </footer>
   </div>
</body>

</html>